<form [formGroup]="filterForm" class="row justify-content-between align-items-center mb-5">
  <input formControlName="search" class="col-md-8 form-control filter-bar px-3 py-2" type="text" placeholder="Busca por matrícula, tipo de vehículo o color" />

  <div class="col-4 row align-items-center justify-content-end">
    <div class="col-6">
      <select formControlName="state" class="filter-bar custom-selectt mx-1">
        <option value="active">Activo</option>
        <option value="inactive">Inactivo</option>
        <option value="all">Todos</option>
      </select>
    </div>

    <button (click)="cleanFilter()" class="col-6 clean-filter">Limpiar filtros</button>
  </div>
</form>

<!-- Vehículos activos -->
<div *ngIf="isActive && vehiclesActive.slice(currentPage * pageSizeState, (currentPage + 1) * pageSizeState).length != 0 " class="mb-5">
  <h4 class="title mb-5">Coches activos</h4>
  <div class="row ml-4 w-100">
    <app-card-view
      *ngFor="let vehicle of vehiclesActive.slice(currentPage * pageSizeState, (currentPage + 1) * pageSizeState)"
      class="col-lg-3 col-sm-6 mb-4"
      [vehicle]="vehicle">
    </app-card-view>
  </div>
</div>

<!-- Vehículos inactivos -->
<div *ngIf="isInactive && vehiclesInactive.slice(currentPage * pageSizeState, (currentPage + 1) * pageSizeState).length != 0" class="mb-5">
  <h4 class="title mb-5">Coches inactivos</h4>
  <div class="row ml-4 w-100">
    <app-card-view
      *ngFor="let vehicle of vehiclesInactive.slice(currentPage * pageSizeState, (currentPage + 1) * pageSizeState)"
      class="col-lg-3 col-sm-6 mb-4"
      [vehicle]="vehicle">
    </app-card-view>
  </div>
</div>

<!-- Paginador -->
<mat-paginator [length]="totalVehicles"
               [pageSize]="pageSize"
               [pageSizeOptions]="[8, 16, 64, 128]"
               (page)="onPageChange($event)"
               aria-label="Selecciona página">
</mat-paginator>
