.title {
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  width: fit-content;
}
.filter-bar {
  border: 1px solid #d3dad1;
  color: #000000cc;
  border-radius: 4px;
  font-size: 14px;
  filter: drop-shadow(1px 1px 2px #90c578);
}

.clean-filter {
  border: 1px solid #d3dad1;
  background-color: #fff;
  border-radius: 4px;
  filter: drop-shadow(1px 1px 2px rgba(183, 104, 35, 0.5)) !important;
  font-size: 14px;
  height: 100%;
  width: 100%;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  white-space: nowrap;
  color: #000000cc;
}

.custom-selectt {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.select-container {
  position: relative;
  display: flex;
  align-items: center;
}
.select-container mat-icon {
  position: absolute;
  right: 25%;
  font-size: 22px;
  color: #000000cc;
  pointer-events: none;
  transition: transform 0.3s ease;
  z-index: 1;
}
.select-container.open mat-icon {
  transform: rotate(180deg);
}

.filter-bar:focus,
.clean-filter:focus {
  outline: none;
  box-shadow: none;
}

mat-paginator {
  background-color: white;
}
