<div class="card" *ngIf="vehicle">
  <h4 class="title">{{ vehicle.model }}</h4>
  <div class="mx-5 mt-3">
    <p><strong>Matrícula - </strong>{{ vehicle.licensePlate }}</p>
    <p><strong>Color - </strong>{{ vehicle.color }}</p>
    <p><strong>Tipo vehículo - </strong>{{ vehicle.vehicleType }}</p>
    <p><strong>Estado - </strong>{{ vehicle.active ? 'Activo' : 'Inactivo' }}</p>
    <div *ngIf="registry">
      <!-- <p>
        <strong>Plaza - </strong>{{ parkingSpot?.spotNumber }}
      </p> -->
      <p>
        <strong>Tarifa - </strong>Estándar
      </p>
      <p>
        <strong>Entrada - </strong
        >{{ registry.entryTime | date: "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </div>
  </div>
  <div class="actions">
    <button (click)="openDialog()" mat-icon-button class="edit-btn">
      <mat-icon class="button-primary">edit</mat-icon>
    </button>

    <button (click)="deleteAction()" mat-icon-button class="delete-btn">
      <mat-icon class="button-secondary">delete</mat-icon>
    </button>
  </div>
</div>

<div class="card" *ngIf="vehicle == undefined">
  <p>El vehículo no se encuentra disponible</p>
</div>
