<div class="card">
  <h4 class="title" *ngIf="isPlazas(); else otherTitles">Planta 1</h4>

  <ng-template #otherTitles>
    <h4 class="title" *ngIf="isTarifas(); else vehicleTitle">Tarifa Estándar</h4>
  </ng-template>

  <ng-template #vehicleTitle>
    <h4 class="title">Seat León</h4>
  </ng-template>

  <div *ngIf="isPlazas()">
    <div class="status">
      <strong>¿Operativa?:</strong>
      <mat-checkbox [checked]="isOperative()" (change)="toggleOperative()"></mat-checkbox>
    </div>

    <div class="availability" [class.show]="isOperative()">
      <strong>Plazas disponibles -</strong> 120
    </div>
  </div>

  <div *ngIf="isTarifas()">
    <p><strong>Precio plaza (por minuto) -</strong> 0,035€</p>
    <p><strong>Total por hora -</strong> {{ totalPorHora() }}€</p>
  </div>

  <div *ngIf="isVehicles()">
    <p><strong>Matrícula -</strong> B34H XYZ</p>
    <p><strong>Color -</strong> Negro</p>
  </div>

  <div class="actions">
    <button *ngIf="!isVehicles()" mat-icon-button class="edit-btn">
      <mat-icon (click)="openDialog()" class="button-primary">edit</mat-icon>
    </button>

    <button *ngIf="isVehicles()" mat-icon-button class="edit-btn" (click)="viewVehicleDetail()">
      <mat-icon class="button-primary">visibility</mat-icon>
    </button>

    <button mat-icon-button class="delete-btn">
      <mat-icon class="button-secondary">delete</mat-icon>
    </button>
  </div>
</div>
