<div class="card">
  <h4 class="title">Planta 1</h4>

  <div class="status">
    <strong>¿Operativa?:</strong>
    <mat-checkbox [checked]="isOperative" (change)="toggleOperative()"></mat-checkbox>
  </div>

  <div class="availability" [class.show]="isOperative()">
    <strong>Plazas disponibles -</strong> 120
  </div>

  <div class="actions">
    <button mat-icon-button class="edit-btn">
      <mat-icon class="button-primary">edit</mat-icon>
    </button>
    <button mat-icon-button class="delete-btn">
      <mat-icon class="button-secondary">delete</mat-icon>
    </button>
  </div>
</div>
