<nav>
  <div class="navbar-container">
    <ul class="left-items">
      <li class="inicio">
        <a routerLink="/home" routerLinkActive="active">Inicio</a>
      </li>
      <li class="plazas">
        <a routerLink="/parking" routerLinkActive="active">Plazas</a>
      </li>
    </ul>
    <li class="logo">
      <img
        src="../../../assets/imagenparking.png"
        alt="Logo"
        class="navbar-logo"
      />
    </li>
    <ul class="right-items">
      <li class="tarifas">
        <a routerLink="/rates" routerLinkActive="active">Tarifas</a>
      </li>
      <li class="vehiculos">
        <a routerLink="/vehicles" routerLinkActive="active">Vehículos</a>
      </li>
    </ul>
  </div>
</nav>
