<nav>
  <div class="navbar-container">
    <ul class="left-items">
      <li class="inicio"><a routerLink="/inicio">Inicio</a></li>
      <li class="plazas"><a routerLink="/plazas">Plazas</a></li>
    </ul>
    <li class="logo"><img src="../../../assets/imagenparking.png" alt="Logo" class="navbar-logo"></li>
    <ul class="right-items">
      <li class="tarifas"><a routerLink="/tarifas">Tarifas</a></li>
      <li class="vehiculos"><a routerLink="/vehiculos">Vehículos</a></li>
    </ul>
  </div>
</nav>
