<nav>
  <div class="container">
    <div class="row">
      <div class="col-responsive p-0 position-style">
        <div class="row justify-content-around">
          <a routerLink="/home" routerLinkActive="active">Inicio</a>
          <a routerLink="/parking" routerLinkActive="active">Plazas</a>
        </div>
      </div>
      <div class="col-3 p-0 d-none d-md-block">
        <div class="row justify-content-center">
          <img
            src="../../../assets/imagenparking.png"
            alt="Logo"
            class="navbar-logo"
          />
        </div>
      </div>
      <div class="col-responsive position-style p-0">
        <div class="row justify-content-around">
          <a routerLink="/rates" routerLinkActive="active">Tarifas</a>
          <a routerLink="/vehicles" routerLinkActive="active">Vehículos</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="user-box position-absolute" routerLink="/admin" routerLinkActive="active">
  <mat-icon>person_outline</mat-icon>
</div>
