<h2 mat-dialog-title>Formulario Tarifa</h2>

<mat-dialog-content class="overflow-hidden">
  <form [formGroup]="ratesForm">
    <mat-form-field class="w-100">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="description" />
      <mat-error *ngIf="ratesForm.get('description')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="ratesForm.get('description')?.hasError('pattern')">
        El nombre no puede estar vacío o contener solo espacios.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" floatLabel="always">
      <mat-label>Precio plaza por minuto</mat-label>
      <input
        matInput
        type="number"
        formControlName="pricePerMinute"
        class="example-right-align"
        placeholder="0.000"
      />
      <mat-icon matSuffix>euro</mat-icon>
      <mat-error *ngIf="ratesForm.get('pricePerMinute')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error
        *ngIf="ratesForm.get('pricePerMinute')?.hasError('greaterThanZero')"
      >
        El precio debe ser mayor que 0.
      </mat-error>
      <mat-error
        *ngIf="ratesForm.get('pricePerMinute')?.hasError('maxDecimals')"
      >
        El precio no puede tener más de 3 decimales.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button
    class="button-primary"
    *ngIf="!rate"
    (click)="addRate()"
    [disabled]="!ratesForm.valid"
  >
    Crear
  </button>
  <button
    class="button-primary"
    *ngIf="rate"
    (click)="updateRate()"
    [disabled]="!ratesForm.valid"
  >
    Editar
  </button>
  <button class="button-secondary" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
