a {
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
  }

  mat-icon {
    vertical-align: middle;
  }
}
.mt-10 {
  margin-top: 6rem !important;
}