:root {
  --primary-color: #408221;
  --secondary-color: #B76823;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-white {
  background-color: var(--white-color);
}

.bg-black {
  background-color: var(--black-color);
  color: var(--white-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

body {
  font-family: 'Arial', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--white-color);
  color: var(--black-color);
}
