<h2 *ngIf="isPlazas()" mat-dialog-title>
  Eliminar Planta <strong>{{ floor.number }}</strong>
</h2>
<h2 *ngIf="isTarifas()" mat-dialog-title>
  Eliminar Tarifa <strong> {{ rate.description }} </strong>
</h2>
<h2 *ngIf="isVehicles()" mat-dialog-title>
  Eliminar Vehiculo <strong> {{ vehicle.model }} </strong>
</h2>
<mat-dialog-content>
  <p *ngIf="isPlazas()">¿Estás seguro que quieres eliminar esta planta?</p>
  <p *ngIf="isTarifas()">¿Estás seguro que quieres eliminar esta tarifa?</p>
  <p *ngIf="isVehicles()">¿Estás seguro que quieres eliminar este vehículo?</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="button-primary" (click)="confirm()">Confirmar</button>
  <button class="button-secondary" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
