<h2 *ngIf="isPlazas()" mat-dialog-title>Eliminar Planta</h2>
<h2 *ngIf="isTarifas()" mat-dialog-title>Eliminar Tarifa</h2>
<h2 *ngIf="isVehicles()" mat-dialog-title>Eliminar Vehiculo</h2>
<mat-dialog-content>
  <p *ngIf="isPlazas()">
    Eliminar la Planta <strong>{{ floor.number }}</strong>
  </p>
  <p *ngIf="isTarifas()">
    Eliminar la Tarifa <strong> {{ rate.name }} </strong>
  </p>
  <p *ngIf="isVehicles()">Eliminar Vehiculo</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="button-primary" (click)="confirm()">Confirmar</button>
  <button class="button-secondary" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
